


<div>
    <form method="POST" id="secondform">
        <input datepicker id="selected_date" type="date" class="w-40 h-16 flex hover:w-40 hover:h-20 transition-all bg-slate-200" placeholder="Select date" value="{{ today }}">
        <button type="submit"  class="text-white text-l bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600
        hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg 
        dark:shadow-cyan-800/80 font-medium rounded-lg px-5 py-2.5 text-center mb-2 w-32 h-14 hover:h-16 hover:w-36 transition-all mt-10 ml-3"> send dato </button>
    </form>
</div>


