{% extends "base.html" %}

{% block content %}

<ul id="change">
    <form method="GET" id="firstform">
        <button type="submit" class="text-white text-2xl bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg px-5 py-2.5 text-center mr-2 mb-2 w-64 h-24 hover:h-28 hover:w-80 transition-all">🚴🏻🚴🏻</button>
    </form>
</ul>


{% endblock %}



