

<form method = "POST" id = "fifthform" action="/final">
    <div class="w-96 text-2xl flex text-center justify-center text-white"> Hvor mange grader er det? </div>
    <div class="w-96 text-8xl flex text-center justify-center" id ="emoji2">😁</div>
    <div class="h-3 bg-gradient-to-r from-cyan-300 to-amber-600 w-96 relative mt-10" id="percentageLine2">
        <div class="w-5 h-5 bg-white rounded-[50%] absolute cursor-pointer" id="percentagePoint2"></div>
    </div>
    <input type="hidden" id="temp" name="temp" value="0">
    <div class="w-96 text-8xl flex text-center justify-center mt-10 text-white" id ="tempDisplay">0</div>
    <button type="submit"  class="text-white text-l bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600
            hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg 
            dark:shadow-cyan-800/80 font-medium rounded-lg px-5 py-2.5 text-center mb-2 w-96 h-14 hover:h-16 transition-all mt-10 ml-3 justify-center"> send temperatur </button>
</form>





